{% extends 'base1.html' %}
{% load static %}

{% block content %}

<div class="my-5 container">
    <h5 class="badge-lg text-dark alert-primary text-center d-block">Reset Password Here: </h5>
    <div class="row my-5">
        <div class="col-sm-6">
            <div class="card" style="height: 260px;">
                <img src="/static/image/9.jpg" style="height: 260px;" class="rounded" alt="">
              </div>
        </div>
        <div class="col-sm-6">
            <form action="" method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p>{{error}}</p>
                {% endfor %}
                {% endif %}
                {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br>
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Save"></input>

                <a href="{% url 'profile' %}">Profile</a> |
                <a href="{% url 'logout' %}">Logout</a> 
            </form>
        </div>
    </div>
</div>
{% endblock content %}
