{% extends 'base.html' %}

{% block content %}

<div class="my-4 maintag3"><h3 class="text-center">Find Your Solution</h3></div>


<div class="my-5 row">
    <div class="col-md">
        <div class="container">
            <div class="shadow-lg p-3 mb-5 bg-light rounded card-deck">
                <div class="card">
                    <img class="card-img-top" src="/static/image/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Web Appications</h5>
                        <p class="card-text">No matter what your requirement is either web development, app development,
                            software development or anything else we do it all</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/static/image/2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Mobile Appications</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/static/image/3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Cloud Appications</h5>
                        <p class="card-text">We are one of the top Cloud services provider company in India. We have
                            skilled programmers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-5 row">
    <div class="col-md">
        <div class="container">
            <div class="shadow-lg p-3 mb-5 bg-light rounded card-deck card-deck">
                <div class="card">
                    <img class="card-img-top" src="/static/image/2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Enterprise Software</h5>
                        <p class="card-text">Development of custom solutions, including robust ERP, CRM, HRM, automated
                            billing and payment systems.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/static/image/2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">SaaS Products</h5>
                        <p class="card-text">Analyzing and engineering custom scalable SaaS products with 3rd party
                            services integration.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-5 row">
    <div class="col-md">
        <div class="container">
            <div class="shadow-lg p-3 mb-5 bg-light rounded card-deck card-deck">
                <div class="card">
                    <img class="card-img-top" src="/static/image/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">E-Commerce Solution</h5>
                        <p class="card-text">Enhance your business with our web, e-commerce, and mobile development
                            services.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/static/image/2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">App Support & Maintenance</h5>
                        <p class="card-text">We serve all kind of application related maintenance services.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/static/image/3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">SEO Services</h5>
                        <p class="card-text">A must in this digitalized era to improve your business reach through
                            online marketing strategies!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}