{% extends 'base.html' %}

{% block content %}

<div class="my-4 maintag2"><h3 class="text-center">Know About Us</h3></div>


<div class="my-5 container shadow p-3 mb-5 bg-white rounded">
    <div class="alert-primary bg-transparent text-justify jumbotron jumbotron-fluid">
        <h1 class="display-4 mx-5">Company Overview</h1>
        <p class="mx-5">Shriyash Software Solution Private Limited started with doing IT jobs for Film
            Industry, Entertainment industry, hotel industry software solution, custom software development, India
            Nationalized Banks, State Level Universities of Indian States and gradually entered into the automobile,
            higher education, hospitality and manufacturing sectors. It has developed numerous software in various
            segments and industries. TSS has the exposure on developing software from Basic level to latest platform on
            JAVA, Python,Node JS, AI, BlockChain, React, Angular, IOS, Android PHP,, Dot Net and C# technologies
            reflecting the vast exposure TSS has created for itself as well as keeping in line with the latest
            technologies.</p><br>
        <img class="mx-auto d-block img-fluid width-100 height-60" src="/static/image/11.jpg"/>
    </div>
    <hr>
    <div class="alert-primary bg-transparent text-justify jumbotron jumbotron-fluid">
        <h1 class="mx-5 display-4">Our Mission</h1>
        <p class="mx-5 bg-gradient-primary">Shriyash Software Solution Pvt. Ltd. has a policy of inclusive growth of the
            company which can be achieved only when each and every staff member of TSS has its growth in his/ her field
            and capacity. Once the staff member adds value to itself through the work done in TSS, then that adds the
            value to TSS. Satisfied and value added staff of TSS will promise successful product and application
            implementation at TSS’s clients which in turn is to the advantage of TSS’s client. This will provide an
            expanded customer base of Iterate which in turn will provide a stronger base for the members of Iterate.</p>
        <br>
        <img class="mx-auto img-fluid d-block width-100 height-60" src="/static/image/12.jpg"/>

    </div>
    <hr>
    <div class="alert-primary bg-transparent text-justify jumbotron jumbotron-fluid">
        <h1 class="mx-5 display-4">Our Vision</h1>
        <p class="mx-5 bg-gradient-primary">Shriyash Software Solution Private Limited is committed to Customer Delight
            through extensive understanding of customer requirements and translating it into a system product which
            would be achieved and much more of its current requirement along with maintaining excellent quality control
            standards and continual improvement for its quality management systems.</p><br>
        <img class="img-fluid width-100 height-60" src="/static/image/13.jpg"/>
    </div>
    <hr>
</div>
{% endblock %}